// COLORS
$primary-color: #2a5a5b;
$secondary-color: #2e6264;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f9f9f9;

$dark-grey: #173233;

$dark-blue-text: #232d41; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
